<!DOCTYPE html>
<html lang="en" ng-app="listaTelefonica">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Telefônica</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-messages.js"></script>
    <script>
        angular.module("listaTelefonica", ['ngMessages']);
        angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function ($scope) {
            $scope.app = "Lista Telefônica";
            $scope.contatos = [
                { nome: "Pedro", telefone: "3356-1302" },
                { nome: "Ana", telefone: "3356-1114" },
                { nome: "Maria", telefone: "3356-1504" },
            ];

            $scope.operadoras = [
                { nome: "Oi", codigo: "12" },
                { nome: "Vivo", codigo: "15" },
                { nome: "Tim", codigo: "41" },
                { nome: "Claro", codigo: "84" },
            ];

            $scope.addContato = function (contato) {
                $scope.contatos.push(contato);
                delete $scope.contato;
                $scope.contatoForm.$setPristine();
            }

            $scope.rmContato = function (contatos) {
                $scope.contatos = contatos.filter(function (contato) {
                    if (!contato.selecionado) return contato;
                });
            }

            $scope.isContatoSelecionado = function (contatos) {
                return !contatos.some(function (contato) {
                    return contato.selecionado;
                });
            }
        })
    </script>
</head>

<body ng-controller="listaTelefonicaCtrl">
    <div class="jumbotron">
        <h4>{{ app }}</h4>
        <table ng-show="contatos.length > 0" class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Nome</th>
                    <th>Telefone</th>
                    <th>Operadora</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-class="{selecionado:contato.selecionado}" ng-repeat="contato in contatos">
                    <td>
                        <input class="form-control" type="checkbox" ng-model="contato.selecionado">
                    </td>
                    <td>{{ contato.nome}}</td>
                    <td>{{ contato.telefone }}</td>
                    <td>{{ contato.operadora }}</td>
                </tr>
            </tbody>
        </table>
        <hr>
        <div ng-show="isContatoSelecionado(contatos)">
            <form name="contatoForm">
                <input class="form-control" type="text" name="nome" ng-model="contato.nome" id="" placeholder="Nome"
                    ng-required="true" ng-minlength="3">
                <input class="form-control" type="text" name="telefone" ng-model="contato.telefone" ng-required="true"
                    ng-minlength="8" ng-pattern="/^\d{4,5}-\d{4}$/" placeholder="Telefone">
                <select class="form-control" ng-model="contato.operadora"
                    ng-options="operadora.nome as operadora.nome for operadora in operadoras">
                    <option value="">Selecione uma operadora</option>
                </select>
                <div ng-messages="contatoForm.nome.$error" ng-show="contatoForm.nome.$dirty">
                    <div ng-message="required" class="alert alert-danger">
                        Por favor preencha o nome.
                    </div>
                    <div ng-message="minlength" class="alert alert-danger">
                        O nome deve ter no mínimo 3 caracteres.
                    </div>
                </div>
                <div ng-messages="contatoForm.telefone.$error" ng-show="contatoForm.telefone.$dirty">
                    <div ng-message="required" class="alert alert-danger">
                        Por favor preencha o telefone.
                    </div>
                    <div ng-message="minlength" class="alert alert-danger">
                        O telefone deve ter no mínimo 8 digitos.
                    </div>
                    <div ng-message="pattern" class="alert alert-danger">
                        O telefone deve ser no formato 9999-9999.
                    </div>
                </div>
                <button class="btn btn-primary btn-block" ng-click="addContato(contato)"
                    ng-disabled="!contato.nome || !contato.telefone">
                    Adicionar Contato
                </button>
            </form>
        </div>
        <button ng-show="!isContatoSelecionado(contatos)" class="btn btn-block btn-danger"
            ng-click="rmContato(contatos)" ng-disabled="isContatoSelecionado(contatos)">
            Excluír Contato
        </button>
    </div>
    <div ng-include="'footer.html'"></div>
</body>

<style>
    .jumbotron {
        width: 400px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }

    .table td {
        padding: 5px;
        ;
    }

    .form-control {
        margin-bottom: 5px;
    }

    .selecionado {
        background-color: #fbfba6 !important;
    }
</style>

</html>